.parallaxWrapper {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax {
  -webkit-transform: translateZ(-2px) scale(3.5);
  transform: translateZ(-2px) scale(3.5);
  z-index: 1;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.parallaxChildOne {
  -webkit-transform: translateZ(0.5px) scale(0.8);
  transform: translateZ(0.5px) scale(0.8);
}

.parallaxChildTwo {
  -webkit-transform: translateZ(1px) scale(0.6);
  transform: translateZ(1px) scale(0.6);
}

.modalPosition {
  -webkit-transform: translateZ(2px) scale(0.6);
  transform: translateZ(2px) scale(0.6);
}
.modalBackgroundPosition {
  -webkit-transform: translateZ(1.9px) scale(0.6);
  transform: translateZ(1.9px) scale(0.6);
}

.left {
  float: left;
  clear: left;
}

.right {
  float: right;
  clear: right;
}

.mid {
  float: left;
  margin-left: 2.5%;
}

.full {
  float: left;
  width: 100%;
}

.half {
  width: 45%;
}

.quart {
  width: 23.12%;
}

.sixty {
  width: 54.5%;
}

.forty {
  width: 42.5%;
}

.xlarge {
  width: 74.3%;
}

.large {
  width: 45.75%;
}

.med {
  width: 29%;
}

.small {
  width: 20.25%;
}
@media all and (min-width: 378px) {
  .half {
    width: 48.75%;
  }
  .left {
    float: left;
    clear: left;
  }

  .right {
    float: right;
    clear: right;
    margin-left: 0px;
  }
}

@media all and (max-height: 378px) {
  .half {
    width: 46%;
    margin-bottom: 5%;
  }
}
