.jumbo {
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../../img/photos/squiggly.jpg");
  height: 100vh;
  width: 100vw;
  padding: 2rem 1rem;
  background-color: #e9ecef;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

/* .parallaxChildOne {
  -webkit-transform: translateZ(0.2px) scale(0.8);
  transform: translateZ(0.2px) scale(0.8);
}

.parallaxChildTwo {

} */

.header {
  color: rgb(51, 40, 31);
  font-family: "Amatic SC", cursive;
  font-weight: bolder;
  font-size: 500%;
  margin-top: 25vh;
  max-width: 100%;
  text-align: center;
}
.subheader {
  color: rgb(51, 40, 31);
  font-family: "Amatic SC", cursive;
  /* font-weight: bold; */
  font-size: 300%;
  margin-left: 10vw;
  /* margin-top: 5vh; */
  width: 90%;
  /* float: right;
  clear: right; */
  text-align: center;
}

@media all and (min-width: 769px) {
  .jumbo {
    background: url("../../img/photos/papers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    margin: 0;
    /* margin-bottom: 2em; */
  }

  .header {
    margin-left: 10vw;
    width: 90vw;
  }
}

@media all and (min-width: 1360px) {
  .header {
    margin-top: 35vh;
    margin-left: 0vw;
    width: 100vw;
  }
}
