.jumbo {
  background: url("../../img/photos/squiggly.jpg");
  /* background-size: cover;
  background-repeat: no-repeat; */
  height: 80vh;
  margin: 0;
}
.clear {
  color: rgb(51, 40, 31);
  font-family: "Amatic SC", cursive;
  font-weight: bolder;
  font-size: 500%;
  /* margin-left: 20vw; */
  width: 100%;
  float: right;
  clear: right;
  text-align: center;
}
.subheading {
  color: rgb(51, 40, 31);
  font-family: "Amatic SC", cursive;
  /* font-weight: bold; */
  font-size: 300%;
  margin-left: 10vw;
  margin-top: 10vh;
  width: 100%;
  float: right;
  clear: right;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (min-width: 769px) {
  .jumbo {
    background: url("../../img/photos/papers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    margin: 0;
  }

  .clear {
    margin-left: 10vw;
    margin-top: 10vh;
  }
}
