.btn,
.menuBtn {
  background-color: rgb(51, 40, 31);
  border: 0;
  color: rgb(239, 239, 235);
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: large;
  display: block;
  width: 64px;
  height: 36px;
  border-radius: 4px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-left: 1em;
  margin-top: 17px;
  margin-bottom: 17px;
  cursor: pointer;
  box-shadow: 1px 2px 8px black;
}

.menuBtn {
  border: 2px solid black;
}

.menu {
  font-family: "Times New Roman", Times, serif;
  background: #fff;
  border-radius: 4px;
  list-style-type: none;
  width: 200px;
  padding: 3px;
  position: absolute;
  top: 100%;
  margin-left: 1em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
  height: 46px;
  cursor: pointer;
  /* text-align: center; */
}

.container {
  width: auto;
  position: relative;
}
