.gallery {
  position: relative;
  min-height: 80vh;
  display: inline-block;
  width: 100vw;
  background-color: rgb(239, 239, 235);
  z-index: 2;
}

/* .parallaxChild {
  transform-origin: 0 0;
  perspective: 1px;
  transform: translateZ(-1px) scale(2);
} */

.titleContainer {
  height: 175px;
  width: 100vw;
}

.artContainer {
  width: 100vw;
  height: auto;
}

.title {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  padding: 0.5em;
  text-align: center;
  color: rgb(51, 40, 31);
  border-bottom: white solid 2px;
  font-family: "Amatic SC", cursive;
}
