.logo {
  float: left;
  font-family: "Oleo Script Swash Caps", cursive;
  color: rgb(63, 105, 170);
  text-shadow: 1px 1px 8px black;
}

.btn {
  /* background: #34495e; */
  /* background-color: rgb(72, 81, 103); */
  background-color: rgb(51, 40, 31);
  border: 0;
  color: rgb(239, 239, 235);
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: large;
  /* color: #fff; */
  /* float: right; */
  display: block;
  width: auto;
  border-radius: 4px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-left: 1em;
  /* line-height: 40px; */
  cursor: pointer;
  box-shadow: 1px 2px 8px black;
}

.container {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5em;
  margin-right: 2em;
}

@media (min-width: 668px) {
  .container {
    margin-right: 5em;
  }
  .insta {
    max-height: 2.7vh;
  }
}

.nav {
  float: right;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: rgb(145, 138, 133, 0.85);
}
